<h1>Cocktails#index</h1>
<h2><%= link_to 'Create a new cocktail', new_cocktail_path %></h2>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= cocktail.name %> <%= link_to 'Description', cocktail_path(cocktail) %></li>
    <%= cl_image_tag("ajldwzjt25gm8mts0jbz", width: 150, height: 150, crop: :thumb) %>
  <% end %>
</ul>
